@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --branco: #FFFFFF;
    --platina:#C2C2C2;
    --azul: #081D49;
    --azul2: #375DA9;
    --grafite: #0A0A0A;
    --preto: #000000;
}

.darkmode {
    --branco: #000000;
    --platina:#0A0A0A;
    --azul: #375DA9;
    --azul2: #081D49;
    --grafite: #C2C2C2;
    --preto: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-color: var(--branco);
}

header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, var(--platina), var(--branco));
    box-sizing: border-box;
}

#menu-nav ul {
    list-style-type: none;
    color: var(--azul);
    font-weight: bold;
    font-size: 1.5em;
}

#menu-nav ul li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

#menu-nav ul li a{
    color: var(--azul);
    text-decoration: none;
}

#menu-nav ul li a:hover {
    transition: 0.5s ease;
    text-decoration: underline;
    color: var(--azul2);
}

button#tema {
    position: fixed;
    top: 50px;
    right: 50px;
}

/* Main */

/* Sobre mim */

section#sobre-mim {
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

#container-img img {
    width: 350px;
    height: 350px;
    padding: 30px;
    border-radius: 50px;
}

#texto-sobre-mim h1 {
    color: var(--azul);
    margin-bottom: 25px;
    cursor: pointer;
}

#texto-sobre-mim h1:hover {
    transition: 0.5s ease;
    color: var(--azul2);
}

#texto-sobre-mim p {
    color: var(--preto);
    width: 400px;
}

/* Meus projetos */

section#meus-projetos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* background-color: var(--platina); */
}

section#meus-projetos h1 {
    color: var(--azul);
    margin-bottom: 25px;
    cursor: pointer;
}

section#meus-projetos h1:hover {
    transition: 0.5s ease;
    color: var(--azul2);
}

div#projetos {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

article.container-projeto {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
}

article.container-projeto img {
    margin: auto;
    width: 300px;
}

article.container-projeto h2 {
    color: var(--azul);
    margin-top: 10px;
    margin-bottom: 10px;
}

article.container-projeto button {
    padding: 5px;
    width: 120px;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    font-weight: bolder;
}

article.container-projeto a {
    margin-top: 20px;
    text-decoration: none;
    background-color: transparent;
    color: var(--preto);
    font-weight: bolder;
    font-size: 1.1em;
}

article.container-projeto a:hover {
    transition: 0.5s ease;
    text-decoration: underline;
}

/* Contato */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to top, var(--platina), var(--branco));
}

footer svg {
    height: 50px;
    width: 50px;
    margin: auto;
    padding: 30px;
    fill: var(--preto);
}

footer svg:hover {
    fill: var(--azul2);
}