@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --branco: hsl(0, 0%, 100%);
    --preto: hsl(0, 0%, 0%);
    --pretologo: hsla(0, 0%, 0%, 0.400);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
    z-index: 5;
    background-color: var(--branco);
}

.logo a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 900;
    font-size: 2em;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    transition: .8s ease;
}

.logo a:hover {
    border: 1px solid var(--preto);
    box-shadow: 0px 0px 5px 2px var(--pretologo);
}

.menu-ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu-ul a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 600;
    position: relative;
}

.menu-ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--preto);
    transition: width 0.3s;
}

.menu-ul a:hover::after {
    width: 100%;
}

main {
    padding-top: 300px;
}

#sobre-mim {
    display: flex;
    margin: auto;
    width: 900px;
}

.sobre-mim-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}

.sobre-mim-info h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

.sobre-mim-info p {
    text-align: justify;
}

.sobre-mim-foto img {
    border-radius: 50%;
    border: 3px solid var(--preto);
}

#projetos {
    margin-top: 200px;
    text-align: center;
}

#projetos h2 {
    font-size: 3em;
    margin-bottom: 80px;
}

.container-projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 900px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.info-projeto {
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
}

.info-projeto h3 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 15px;
}

.info-projeto p {
    margin-bottom: 15px;
}
.info-projeto svg {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-color: var(--branco);
}

.img-projeto img {
    border-radius: 20px;
    width: 450px;
    height: 350px;
    border: 3px solid var(--preto);
}

footer {
    background-color: var(--preto);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer svg {
    cursor: pointer;
    width: 50px;
    margin-right: 40px;
}