@charset "UTF-8";

:root {
    --branco: #FFFFFF;
    --branco2: #F5F5F5;
    --cinza: #45484A;
    --azul: #4C7FE6;
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--branco);
}

nav a {
    color: var(--cinza);
    text-decoration: none;
    border: none;
}

nav a:hover {
    text-decoration: underline;
}

nav > button {
    font-size: 2em;
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

section#sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    background-color: var(--branco2);
}

section#sobre-mim h2 {
    margin-bottom: 25px;
    text-decoration: underline;
    font-size: 2em;
    font-weight: 500;
}

#container-img {
    width: 350px;
}

#container-img img {
    width: 100%;
}

#sobre-mim-texto {
    width: 350px;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
}

h2#meus-projetos-h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 3em;
    color: var(--cinza);
}

section#projetos {
    width: 50%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

section#projetos h3 {
    padding: 8px;
}

article {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: var(--branco2);
    border-radius: 12px;
    padding-bottom: 8px;
}

article button {
    width: 50%;
    margin:  0 auto;
    margin-top: 10px;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--azul);
    border: none;
}

article button a {
    text-decoration: none;
    color: var(--branco);
    font-weight: bolder;
    font-size: 1.1em;
}

section#contatos {
    background-color: var(--branco2);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    gap: 20px;
}

section#contatos a {
    background-color: var(--branco);
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

section#contatos a svg {
    height: 32px;
    fill: black;
}

section#contatos a svg:hover {
    fill: var(--azul);
}
